K3S_KUBECONFIG_MODE="644"
K3S_EXEC="server --disable traefik --disable servicelb --cluster-init \ 
  {% if is_first_master %}--cluster-init{% else %}--server https://{{ hostvars[groups['master_nodes'][0]]['ansible_default_ipv4']['address'] }}:6443 --token {{ hostvars[groups['master_nodes'][0]]['k3s_node_token'] }}{% endif %}"
