-- init.lua

-- Enable Syntax
vim.cmd.syntax("enable")
vim.opt.spell = false
vim.opt.spelllang = "en"

-- File Properties
vim.opt.swapfile = false
vim.opt.backup = false
vim.opt.undofile = true
vim.opt.scrolloff = 32

-- Text Highlighting
vim.opt.hlsearch = true
vim.opt.incsearch = true

-- Tabbing
vim.opt.tabstop = 4
vim.opt.softtabstop = 4
vim.opt.shiftwidth = 4
vim.opt.expandtab = true
vim.opt.smartindent = true

-- Text Encoding
vim.opt.linebreak = true
vim.opt.wrap = true

-- Numbers
vim.opt.number = true
vim.opt.relativenumber = true
vim.opt.cursorline = true
vim.opt.colorcolumn = "96"

-- Vim Interface
vim.opt.signcolumn = "yes"
vim.opt.background = "dark"
vim.opt.clipboard = "unnamedplus"

-- Key Maps
vim.g.mapleader = " "
